# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/
env/

# ==========================================
# IDE Files
# ==========================================

.vscode/
.idea/

# ==========================================
# Python Environment Variables
# ==========================================

.env

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Pytest Cache
# ==========================================

.pytest_cache/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Streamlit Cache
# ==========================================

.streamlit/

# ==========================================
# Build Files
# ==========================================

dist/
build/